@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: Prompt;
  --line-height: 1.5;
  --font-weight: 400;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: white) {
  :root {
    --line-height: 1.5;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.suggestion{
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
